@page
@using firstWebApp.Models
@model firstWebApp.Pages.ClassroomsModel
@{
}
<p>@Model.Message the time is @DateTime.Now</p>
<table class="table table-hover table-dark">
    <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">TeacherID</th>
        <!--<th>StudentID</th>-->
    </tr>
    @foreach (var classroom in Model.Classrooms)
    {
        <tr>
            <td>@classroom.Id</td>
            <td>@classroom.Name</td>
            <td>@classroom.TeacherId</td>
        </tr>
    }

</table>